.product {
  min-height: 250vh;
  background-color: darkgrey;
}
header h1 {
  text-align: center;
  padding: 30px;
}
header p {
  width: 80%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin: 3% 10%;
}
section {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  padding: 10px;
}
.card {
  min-width: 20%;
  height: 430px;
  background-color: blanchedalmond;
  overflow: hidden;
  position: relative;
}
.card img {
  height: 100%;
  width: 100%;
  position: absolute;
}
.card-content {
  position: absolute;
  background-color: lightgrey;
  left: 0;
  min-width: 100%;
  min-height: 50%;
  bottom: -48%;
  padding: 20px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  transition: 1s;
}
.card:hover .card-content {
  bottom: 0;
}
.card:hover img {
  transform: scale(1.1);
  transition: 1s;
}
.png-img img {
  width: 300px;
  height: 300px;
}
.png-img {
  background-color: darkslategrey;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
.png1 {
  position: relative;
  overflow: hidden;
}
.png-content {
  background-color: antiquewhite;
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: -9rem;
  /* left: 0;
  right: 0; */
  margin-left: 20px;
}
/* marquee style  */
.collections {
  display: flex;
  gap: 30px;
  margin-top: 5%;
}
.list {
  width: 200px;
  height: 250px;
  background-color: aliceblue;
}
.list img {
  width: 100%;
  height: 100%;
}
.blink {
  animation: blinker 1.5s linear infinite;
  transition: 2s;
}
@keyframes blinker {
  50% {
    opacity: 0.8;
  }
}
@media screen and (min-width: 280px) and (max-width: 1060px) {
  header p {
    width: 100%;
    margin: 30px -7px;
    padding: 30px;
  }
  .card {
    min-width: 28%;
    height: 430px;
  }
}

.slide,
.slide2 {
  height: 150vh;
  background-color: lightskyblue;
}

.wrapper {
  width: 350px;
  height: 300px;
  background-color: burlywood;
  /* background-image: url(./bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover; */
  display: flex;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 1580px;
  left: 18%;
  overflow: hidden;
  border: 10px solid white;
  border-radius: 10px;
  box-shadow: 10px 25px 30px rgba(0, 0, 0, 0.5);
}
.wrapper img {
  width: 100%;
  height: 100%;
  animation: slide 16s infinite;
  transition: 1s;
}
.wrapper img:hover {
  animation-play-state: paused;
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-100%);
  }
  55% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-300%);
  }
  80% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-300%);
  }
}
.wrapper2 {
  width: 350px;
  height: 300px;
  background-color: burlywood;
  display: flex;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 330%;
  left: 18%;
  overflow: hidden;
  border: 10px solid white;
  border-radius: 10px;
  box-shadow: 10px 25px 30px rgba(0, 0, 0, 0.5);
}
.wrapper2 img {
  width: 100%;
  height: 100%;
  animation: slide 16s infinite;
  transition: 1s;
}
.wrapper2 img:hover {
  animation-play-state: paused;
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-100%);
  }
  55% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-300%);
  }
  80% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-300%);
  }
}
@media screen and (min-width: 280px) and (max-width: 850px) {
  section {
    flex-direction: column;
    gap: 50px;
  }
}

@media screen and (min-width: 850px) and (max-width: 950px) {
  .card-content {
    bottom: -57%;
  }
}
@media screen and (min-width: 1050px) and (max-width: 1075px) {
  .card-content {
    bottom: -45%;
  }
}
.card {
  min-width: 30%;
  height: 430px;
}

@media screen and (min-width: 440px) and (max-width: 850px) {
  .card-content {
    bottom: -35%;
  }
}
@media screen and (min-width: 330px) and (max-width: 440px) {
  .card-content {
    bottom: -45%;
  }
}
